extends layout
block content
  .page-header
    h1 Zux and the Community
  .container
    #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')  
      .carousel-inner(role='listbox')
        .item.active
          img.img-responsive.center-block(src='images/community/Soup-Kitchen-300x232.jpg')
        .item
          img.img-responsive.center-block(src='images/community/trees1.jpg', alt='Chania')
        .item
          img.img-responsive.center-block(src='images/community/volunteer1.jpg', alt='Flower')
        p. 
          Giving back to the community can take a variety of forms. Depending on your own skill set and the unique nature of your own community, you will find many opportunities to help those around you. Here are a few ideas to spark your giving side and get you serving those who need help in your community.
          
          
          
        h3 Donate
          
        p.
          Sometimes giving back to the community is as simple as giving. Whether you have an overabundance of some sort or merely have something others could use, donating makes an immediate difference in others’ lives. From clothes to food to that old cell phone in the back of your closet, in-kind gifts move seamlessly from you to local organizations and into the hands of those in need.
          
          
          
        h3 Philanthropy
          
        p.
          Sometimes it’s easier for you, and the community organization around you, to give cash donations instead of in-kind gifts. Financial philanthropy is a great way for local businesses to get and stay involved in the community. Choosing an organization and giving a percentage or portion of proceeds each month is both good for PR and the community.
          
          
          
        h3 Fundraising
          
        p. 
          Giving back to the community sometimes involves bringing people together and working toward a single cause. Instead of donating personal finances or proceeds, local organizations or citizens can plan large-scale fundraising events which raise awareness of a local need, encourage local unity, and bring in lots of money.
          
          
          
        h3 Drives
          
        p. 
          Community events can be about more than raising money. Use these opportunities to gather in-kind donations, such as diapers for a new mom, canned foods for a food pantry, or furniture and appliances for a family whose home was destroyed. Habitat for Humanity or the American Red Cross both offer local community involvement projects, so check out those large organizations as well as our nonprofit partners.
          
          
          
        h3 Volunteer
        
        p.
          If you have more time than money, volunteering may be a more effective and viable way of giving back to the community. Consider places you already spend a lot of time with, such as your child’s school or your congregation. Those who work, and give their time, in these local places can often use an hour or two from volunteers to take extra tasks off their hands.
          
          
          
        h3 Recognize Those Who Serve
        
        p. 
          Giving back to the community can also come in the form of giving to those who serve or have served. Police and fire departments, local military bases, and local veteran’s organizations offer the opportunity to recognize and thank those who help the community and support the troops. You can remember them with treats or donations at the holidays or anytime.
          
          
        
        h3 Disaster Relief
        
        p.
          When disasters strike, communities come together to care for their own, effected by the storm, earthquake, flood, or other catastrophe. This is an important time to get involved and give back, as the needs are immediate. The donations needed will depend on the extent and type of disaster – anything from clothes and blankets to a new home or building. Form a disaster response team, if one isn’t already in place, to meet these needs.
        
          
          
          h3 Step Up and Ask
          
          p. 
            If you aren’t sure what to do to give back or where your time or resources could be best used, the first place to start is to ask. Contact a representative at a local organization and let them know about your desire to help. Be specific about what you might be able to do – whether it’s donating your time, offering in-kind donations, or providing funding.
          
          
      // a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      //   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      //   span.sr-only Previous
      // a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      //   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      //   span.sr-only Next
   
     
