extends layout
block content
	.page-header
		h1 Opportunities
	p 
		|Join Zux in making the world a better place. Tell us a little about yourself and submit your resume.
	form(method="POST" action='/addApplicant')
		.form-group
			label First Name
			input.form-control(type="text", name="FirstName")
		.form-group
			label Last Name
			input.form-control(type="text", name="LastName")
		.form-group
			label Age
			input.form-control(type="text", name="Age")
		.form-group 
			input.btn.btn-default.btn-file(type="file" name="resume")			
		button.btn.btn-default(type="submit") Submit